.playlist__container{
    margin-bottom: -15px;
}
.title{
    font-size: small;
    background-color: #000;
    color: #9C9C9C;
    text-decoration: none;
}
.title:hover{
    color: #fff;
}
.desc{
    font-size: small;
}
.title__group{
   width: 150px;
   height: 40px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
